
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/SpectatorB.log
Intermediate/CachedAssetRegistry.bin
Saved/Config/CrashReportClient/UE4CC-Windows-6700965049FB706795CDDC87CF1F5651/CrashReportClient.ini
Saved/Logs/SpectatorB-backup-2021.07.01-19.47.53.log
Saved/Config/Windows/Engine.ini
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
