
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/SpectatorB.log
Intermediate/CachedAssetRegistry.bin
Saved/Config/CrashReportClient/UE4CC-Windows-6700965049FB706795CDDC87CF1F5651/CrashReportClient.ini
Saved/Logs/SpectatorB-backup-2021.07.01-19.47.53.log
Saved/Config/Windows/Engine.ini
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Intermediate/CachedAssetRegistry.bin
Saved/Config/CrashReportClient/UE4CC-Windows-948E1BBB498FD0611122F3969A06CBF2/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-C9B6BFC74AE9287A52B792AE5B15159E/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-DA1A611843463032CA789B82C0BB245A/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Logs/SpectatorB-backup-2021.07.01-21.54.02.log
Saved/Logs/SpectatorB.log
Plugins/AdminTools/*
Plugins/DiscordFeatures/Binaries/*
Plugins/DiscordFeatures/Intermediate/*
Plugins/DiscordFeatures/Resources/*
Plugins/DiscordFeatures/Source/*
Saved/*
Intermediate/*
BUILDING/*
Source/*
Binaries/*
.vs/*